<form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <section class="form__section">
    <label class="form__section__label" for="nombre">Nombre</label>
    <input class="form__section__input" id="nombre" formControlName="nombre" />
    <article class="form__section__error" *ngIf="isValidField('nombre')">
      {{ getFieldError('nombre') }}
    </article>
  </section>

  <section class="form__section">
    <label class="form__section__label" for="fecha">Fecha</label>
    <input class="form__section__input" id="fecha" type="date" formControlName="fecha" />
    <article class="form__section__error" *ngIf="isValidField('fecha')">
      {{ getFieldError('fecha') }}
    </article>
  </section>

  <section class="form__asociados" formArrayName="asociados">
    <section class="form__asociados__content" *ngFor="let asociado of asociados.controls; let i = index" [formGroupName]="i">
      <h4 class="form__asociados__content__title">Asociado {{ i + 1 }}</h4>

      <label class="form__asociados__content__label" for="asociado-nombre">Nombre</label>
      <input class="form__asociados__content__input" id="asociado-nombre" formControlName="nombre" />
      <article class="form__asociados__content__error" *ngIf="isValidFieldArray( asociados,'nombre', i)">
        {{getFieldErrorArray(asociados,'nombre', i)}}
      </article>

      <label class="form__asociados__content__label" for="asociado-edad">Edad</label>
      <input class="form__asociados__content__input" id="asociado-edad" formControlName="edad" />
      <article class="form__asociados__content__error" *ngIf="isValidFieldArray( asociados,'edad', i)">
        {{getFieldErrorArray(asociados,'edad', i)}}
      </article>

      <section class="form__asociados__content__habilidad" formArrayName="habilidades">
        <section class="form__asociados__content__habilidad__content" *ngFor="let habilidad of getHabilidades(i).controls; let j = index" [formGroupName]="j">
          <label class="form__asociados__content__habilidad__content__label" for="habilidad-{{i}}-{{j}}">Habilidad {{ j + 1 }}</label>
          <input class="form__asociados__content__habilidad__content__input" id="habilidad-{{i}}-{{j}}" formControlName="habilidad" />
          <article class="form__asociados__content__habilidad__content__error" *ngIf="isValidFieldArray( getHabilidades(i),'habilidad', i)">
            {{getFieldErrorArray(getHabilidades(i),'habilidad', i)}}
          </article>
          <button class="form__asociados__content__habilidad__content__btn" type="button" (click)="removeHabilidad(i, j)">
            <p>Eliminar Habilidad</p>
          </button>
        </section>
        <button type="button" (click)="addHabilidad(i)">
          <p>Agregar Habilidad</p>
        </button>
      </section>

      <button type="button" (click)="removeAsociado(i)">
        <p>Eliminar Asociado</p>
      </button>
    </section>
  </section>

  <button type="button" (click)="addAsociado()">
    <p>Agregar Asociado</p>
  </button>
  <button type="submit">
    <p>Enviar</p>
  </button>
  <a [routerLink]="['/home/list']">ir a listado de tarea</a>
</form>
