<section class="list">
  <section class="list__content">
    <button (click)="formsAllState()">todos</button>
    <button (click)="filterFormsByFalseState()">pendientes</button>
    <button (click)="filterFormsByTrueState()">completados</button>
  </section>
  <table class="list__table">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Fecha</th>
        <th>Estado</th>
        <th>Personas</th>
        <th>Operacion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tarea of filterTareas()">
        <td [routerLink]="['/', tarea.id]">{{
          tarea.nombre }}</td>
        <td>{{ tarea.fecha }}</td>
        <td>{{ tarea.estado ? 'completado' :
          'pendiente'
          }}</td>
        <td>
          <section *ngFor="let socio of tarea.asociados">
            persona: {{ socio.nombre }}
            edad: {{ socio.edad }}
            habilidades: [
            <section *ngFor="let habilidad of socio.habilidades">
              {{ habilidad.habilidad }}
            </section>
            ]
          </section>
        </td>
        <td>
          <button class="pi pi-trash"
            (click)="deleteTarea(tarea.id)"></button>
          <section *ngIf="tarea.estado">
            <button class="pi pi-check"
              (click)="updateStatus(tarea)"></button>
          </section>
          <section *ngIf="!tarea.estado">
            <button class="pi pi-times"
              (click)="updateStatus(tarea)"></button>
          </section>
        </td>
      </tr>
    </tbody>
  </table>
  <button routerLink="['/']">Crear tarea</button>
</section>
